header {
    text-align: center;
    
  }

h1{
    color: rgb(39, 36, 39);
    border-color: rgb(219, 57, 7);
}
.work:hover{
  border-color: violet;
  text-align: left;
  color:tomato;
}
